[2019-03-14 18:28] 4n4nd opened #1 "Improve logging"
Connections can fail, more better logging would be helpful

[2019-05-03 19:31] 4n4nd opened #5 "Add Store to S3 support"
Just like store_locally, add support  to store directly to some s3 like storage

[2019-05-14 15:52] 4n4nd opened #6 "Return metric data as pandas dataframes"
Create a Pandas Dataframe from the collected metrics

[2019-06-21 19:38] 4n4nd opened #7 "Potential bug when downloading metrics in multiple chunks"
When downloading metrics in multiple chunks, the first chunk might not have the `__name__` label

[2019-06-24 14:12] 4n4nd commented on #7
Not a bug in the library but a separate Metric class used to process the metric data

[2019-06-24 14:13] #7 closed

[2019-06-24 14:20] 4n4nd opened #8 "Next Release Features planning"
Features to be added before release of v0.0.2:
* Ability to store metric chunks to S3 block store
* Be able to create a metric stream using [rxpy (v3)](https://github.com/ReactiveX/RxPY)
* Add a [metric class](https://github.com/AICoE/prometheus-anomaly-detector/blob/ec9f4f8f472826bf515828da60d4b16588d31d5e/metric.py) to make processing metric data easier

If you have any feature requests please c

[2019-06-26 15:38] 4n4nd commented on #6
Should be added in #11

[2019-06-26 15:38] #6 closed

[2019-07-03 15:20] 4n4nd commented on #8
add a from file constructor for MetricsList class

[2019-07-16 14:08] 4n4nd commented on #8
MetricsList class should also be constructable from an existing Metric object

[2019-07-21 03:48] 4n4nd opened #21 "WE NEED AUTOMATED TESTS"
After going through the recent PRs manually, I think we need some unit testing for the library. If anyone has any suggestions for it please comment here.

[2019-07-21 09:44] goern commented on #21
Please keep anything you do as pytest wrapped up in setup.py, this way we can run the tests as part of zuul pipelines

[2019-07-22 18:42] 4n4nd commented on #8
rxpy v3 was released a few days ago, so we can now add the metric stream

[2019-07-26 14:07] 4n4nd commented on #8
Add a start_time and end_time property for a Metric object

for example, Metric.start_time will return the earliest datapoint timestamp for datetime object
similarly, Metric.end_time will return the latest datapoint timestamp

[2019-07-29 21:30] 4n4nd opened #24 "pandas v0.25 breaks Metric class"
https://github.com/AICoE/prometheus-api-client-python/blob/v0.0.2/prometheus_api_client/metric.py#L67
Here the `errors` param is broken in pandas==0.25, it should work in pandas==0.24.2

[2019-07-30 01:57] 4n4nd commented on #24
https://github.com/pandas-dev/pandas/issues/27648
They changed how it works, so we should patch this as well

[2019-07-30 19:27] 4n4nd commented on #21
Added some in #26 we need more for `PrometheusConnect` though

[2019-07-31 17:49] #24 closed

[2019-08-05 19:47] 4n4nd opened #29 "Issue with dateparser"
https://github.com/AICoE/prometheus-api-client-python/blob/v0.0.2/prometheus_api_client/metric.py#L146-L148
Here, sometimes the dateparser parses date in a yyyy-dd-mm format which is incorrect.
We can add `settings={"DATE_ORDER": "YMD"}` to fix this issue.
While at it, we should make this change in every place dateparser.parse is used

[2019-08-05 19:50] 4n4nd commented on #29
https://github.com/AICoE/prometheus-api-client-python/blob/v0.0.2/prometheus_api_client/prometheus_connect.py#L153-L154

[2019-08-05 19:50] 4n4nd commented on #29
https://github.com/AICoE/prometheus-api-client-python/blob/v0.0.2/prometheus_api_client/prometheus_connect.py#L160-L161

[2019-08-05 19:50] 4n4nd commented on #29
https://github.com/AICoE/prometheus-api-client-python/blob/v0.0.2/prometheus_api_client/prometheus_connect.py#L237

[2019-08-05 19:59] 4n4nd commented on #29
Maybe we can add some unit tests for this

[2019-08-05 21:50] 4n4nd commented on #29
More details on this bug https://github.com/scrapinghub/dateparser/issues/549

[2019-08-06 18:54] 4n4nd opened #31 "Metric Object oldest_data_datetime vague explanation"
[Here](https://prometheus-api-client-python.readthedocs.io/en/v0.0.2/source/prometheus_api_client.html#prometheus_api_client.metric.Metric), the explanation for the `oldest_data_datetime` parameter is a little vague. It is also a little hard to parse strings and define datetime objects which are then used to truncate the dataframes.

I think we should just remove the whole string parsing monkey bu

[2019-08-08 16:03] 4n4nd opened #35 "Replace retrying with tenacity"
the [retrying](https://github.com/rholder/retrying) project is not active any more, but a similar project is [tenacity](https://github.com/jd/tenacity) which is actively being contributed to.

[2019-08-08 16:08] 4n4nd commented on #21
Added some more tests for `PrometheusConnect` in #34, but these are not completely automated because you need to specify the url for a prometheus host which has at least 30 minutes of data

[2019-08-09 14:40] #29 closed

[2019-08-09 14:40] #31 closed

[2019-08-12 05:10] 4n4nd opened #38 "Add Mock tests for `PrometheusConnect`"
Add some mock tests for class `PrometheusConnect`, so it can be tested without using a real prometheus instance.

I think we can use the [mock object library](https://docs.python.org/3/library/unittest.mock.html) in python for this

[2019-08-12 05:11] 4n4nd commented on #21
I will close this issue and continue a similar discussion in #38 since we have added some tests and just need some kind of CI or bot to perform the tests

[2019-08-12 05:12] #21 closed

[2019-08-22 17:38] anishasthana opened #42 "MetricsList not working with no-name metrics."
The following code sample is breaking for me when attempting to instantiate a metricslist object

[code]
This is the output of the code in question

[code]

The value of `query_result` is  `[{'metric': {}, 'value': [1566485171.497, '14735']}]`

My guess is that any prometheus query that returns a time_series without a `name` will break. Setting a default value of some sort is probably the simplest

[2019-08-22 18:01] 4n4nd opened #43 "API function to delete a specific time-series from the prometheus host"

[2019-08-23 10:13] durandom commented on #43
I dont think you can do that. Is there a prometheus API call for deleting metrics?

[2019-08-23 10:16] durandom commented on #42
On the prometheus end, I dont think there are metrics without a name. There's always the `_name` label. Or maybe that label is not returned when you do a calculation like you did??

[2019-08-23 11:42] 4n4nd commented on #43
I think there is an API in the admin mode
https://prometheus.io/docs/prometheus/latest/querying/api/#delete-series

[2019-08-23 11:44] 4n4nd commented on #42
Yeah when you perform some kind of function on the metric, it does not return a __name__

[2019-09-19 16:10] 4n4nd opened #46 "Fix Versioning with the next release"
Change version number to 0.2.0 instead of 0.0.2. Just like the suggestions in #44.

[2019-09-26 14:15] 4n4nd commented on #8
No S3 support as well :(, we'll work on that later

[2019-10-03 13:22] 4n4nd opened #47 "Add some basic info about Prometheus and Metrics"
More info like what Prometheus is, and what kind of metrics does it serve would be good information in the project README

[2019-10-09 12:44] sesheta opened #48 "No dependency management found"
No dependency management found for this repository. If you want to keep your dependencies managed, please submit `Pipfile` or `requirements.in` or `requirements-dev.in` file.

To generate a `Pipfile`, use:"
[code]

Make sure your `Pipfile` or `requirements.in` or `requirements-dev.in` is placed in the root of your Git repository.

[2019-10-10 14:30] 4n4nd commented on #46
After #54 is merged, I will create a new release `0.2.0` and delete branch `v0.0.2`

[2019-10-10 17:36] goern opened #56 "Use zuul job vars rather than .env"
Checking in a .env file might have non obvious side effects fur people cloning the repo, therefore it might be better to use variables fur the zuul job, see https://zuul-ci.org/docs/zuul/user/config.html#attr-job.vars

Related: #55

[2019-10-10 17:48] 4n4nd commented on #56
@goern Where should I add these zuul job variables? Should I add them to the `.zuul.yaml` config file?

[2019-10-10 17:50] goern commented on #56
Ja, and I think you want them with each pytest job in each pipeline

[2019-10-10 17:55] 4n4nd commented on #56
okay got it. thanks

[2019-10-10 18:06] #48 closed

[2019-10-10 18:32] 4n4nd commented on #56
@goern Where would the job list come in, in the config file?
I tried something like this:
[code]
But it did not work, I got an error:
[code]

[2019-10-10 18:40] 4n4nd commented on #56
nevermind,
[code]
worked for me

[2019-10-11 06:03] goern commented on #56
Might be that indention is too much, try moving 'vars' block two to the left?!

[2019-10-11 15:17] 4n4nd commented on #56
nope that doesn't work either.
[code]
With this, all the gates do run but pytests didn't see the variable. If I change the indentation for the vars block, it gives [this error](https://github.com/AICoE/prometheus-api-client-python/pull/58#issuecomment-541105187)

[2019-10-15 18:15] asherlporetz opened #61 "query_range suggestion"
[code]

[2019-10-15 18:38] #46 closed

[2019-10-16 11:45] goern opened #62 "new patch release"

[2019-10-16 11:46] goern commented on #62
lets see if kebechet can create a new release for us...

[2019-10-17 03:19] goern commented on #62
@fridex @harshad16 could you have a look why no bot is creating a new release?

[2019-10-17 18:44] harshad16 commented on #56
Zuul project vars and jobs vars are present in hostvars of ansible.
Using hostvars.pod we can get all the variable including the job vars and project vars.
Explicitly getting these variables in general case is not convenient.
Passing all the vars to Pytest environment. Hence env var pytest can be placed in job variable or pytest variable.

References:
https://zuul-ci.org/docs/zuul/user/jobs.html#j

[2019-10-17 19:12] #56 closed

[2019-10-17 21:36] 4n4nd commented on #61
Hey @asherlporetz is there a specific benefit that we would get by using the `query_range` api instead of the `query` api?

[2019-10-17 23:36] asherlporetz commented on #61
When I inspect a query in grafana it's a query_range. Also there will always be different use-cases so the client should try to support all endpoints in https://prometheus.io/docs/prometheus/latest/querying/api/ for completeness. Just a suggestion.

[2019-10-18 03:18] 4n4nd commented on #61
Yeah that's a good enough reason. Do you want to create a PR for this maybe?

[2019-10-18 04:35] asherlporetz commented on #61
Hoping others will pick it up. Thank you.

[2019-10-18 12:38] sesheta opened #65 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 236947558f564096fd73a706e282487ae71c33c8.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2019-10-18 12:42] sesheta commented on #62
I have tagged commit [6c03c910ab8338babe53a5fd3644dadbe92c5551](https://github.com/thoth-station/srcops-testing/commit/6c03c910ab8338babe53a5fd3644dadbe92c5551) as release 0.2.1 :+1:

[2019-10-18 12:42] #62 closed

[2019-10-18 13:21] goern commented on #62
NICE!!

Cc: @4n4nd @durandom

[2019-10-18 13:41] 4n4nd commented on #61
Thanks for pointing it out

[2019-10-18 14:13] 4n4nd commented on #65
@goern @harshad16 I think the bot needs help

[2019-10-21 10:30] sesheta commented on #65
Automatic dependency update still failing for the current master with SHA 6c03c910ab8338babe53a5fd3644dadbe92c5551.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2019-10-21 21:42] sesheta commented on #65
Closing this issue as it is no longer relevant for the current master with SHA 6c03c910ab8338babe53a5fd3644dadbe92c5551.

[2019-10-21 21:42] #65 closed

[2019-11-14 22:46] husky-parul opened #69 "Add store_locally: bool option for get_current_metric_value"
Can we have `store_locally: bool` option for `get_current_metric_value` as we have in `get_current_metric_value` ?

[2019-11-18 10:01] 4n4nd commented on #69
@goern sesheta don't send me any alerts for this issue on gchat

[2019-12-10 09:28] pbadenski commented on #61
@4n4nd are you still open to merging it in if I send a pull request? really keen on this feature

[2019-12-10 10:53] 4n4nd commented on #61
Hey, yes we will merge it 👍
Thanks

[2019-12-10 12:56] pbadenski commented on #61
Submitted! 🚀

[2019-12-12 19:31] goern commented on #61
recheck

[2019-12-12 20:03] #61 closed

[2020-01-21 12:11] sesheta opened #73 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 15f0185c19dcd1ec9a1d51262db03bae572e705a.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-01-21 13:50] sesheta commented on #73
Closing this issue as it is no longer relevant for the current master with SHA 15f0185c19dcd1ec9a1d51262db03bae572e705a.

[2020-01-21 13:50] #73 closed

[2020-01-30 01:46] sesheta opened #74 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 15f0185c19dcd1ec9a1d51262db03bae572e705a.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-01-30 02:33] sesheta commented on #74
Closing this issue as it is no longer relevant for the current master with SHA 15f0185c19dcd1ec9a1d51262db03bae572e705a.

[2020-01-30 02:33] #74 closed

[2020-02-11 11:20] 4n4nd opened #79 "client exits when chunk size too big instead of raising an exception"
Here: https://github.com/AICoE/prometheus-api-client-python/blob/15f0185c19dcd1ec9a1d51262db03bae572e705a/prometheus_api_client/prometheus_connect.py#L164

When the chunk size is greater than end_time - start_time, the client just exits printing an error, it should raise an exception instead

[2020-02-20 11:46] #8 closed

[2020-03-02 15:45] durandom opened #82 "cache results"
ability to cache the results to disk and read from disk.
[code]

the problem might be with a `now` in the query.

[2020-03-02 16:34] anishasthana commented on #38
Would this mock tests be for the purpose of unit testing? Or would it be for an api client user wanting to experiment with the library?

[2020-03-02 16:35] 4n4nd commented on #38
Unit testing

[2020-03-02 16:53] 4n4nd commented on #38
Oops sorry this should closed

[2020-03-02 16:54] #38 closed

[2020-03-02 19:02] anishasthana opened #85 "Thoth-Coala Image needs to be Updated"
The Thoth-Coala image needs to be updated to include `remark-cli`.
Jobs including the Markdown bear are failing: [Zuul Logs](https://managesf.thoth-station.ninja/zuul/t/local/build/681e149583994c1cb1660ac7095e9578/console)

[2020-03-02 19:03] harshad16 commented on #85
Logs:
[code]

[2020-03-04 20:48] chauhankaranraj opened #86 "DataFrame representation of all metrics at a given timestamp"
Currently, the `MetricList` class can be used to group a metric time series by unique label configs. (See `How MetricsList works` in [MetricList_example.ipynb](https://github.com/AICoE/prometheus-api-client-python/blob/master/examples/MetricsList_example.ipynb)). This lets the user work with a metric by working with time series values in `Metric` objects separately.

However in some use cases you

[2020-03-04 21:42] 4n4nd commented on #86
so if I am correct, @chauhankaranraj will implement a new class called `MetricSnapshot` (maybe some other name) that will instead of looking at the data as a time-series, will look at multiple metric values at an instance. i.e. A snapshot of multiple metrics at a given timestamp.

[2020-03-05 19:12] harshad16 commented on #85
The Image has been updated and zuul now responds to markdown change.
Closing the issue, reopen if the issue seems to be persisting.

[2020-03-05 19:12] #85 closed

[2020-03-10 15:43] #86 closed

[2020-03-10 15:55] 4n4nd opened #90 "Add a get_snapshot function to MetricList class"
Since a MetricList object has the same data as a MetricSnapShotDataFrame object for multiple timestamps, it makes sense to have a `MetricsList.get_snapshot(timestamp)` class function for MetricsList that returns a MetricSnapShotDF object for the given timestamp.

[2020-03-22 12:34] goern commented on #42
is this still valid?

[2020-03-22 12:35] goern commented on #43
is this still valid?

[2020-03-23 02:40] 4n4nd opened #93 "No docs generated for the new `MetricSnapshotDataFrame` module"
The configuration to generate docs for the new module is missing from the [source](https://github.com/AICoE/prometheus-api-client-python/blob/master/docs/source/prometheus_api_client.rst)
@chauhankaranraj

[2020-03-27 16:47] sesheta opened #97 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 49d0fdfc9a1fcfd5f51c53972cd2fcd223b1ddcf.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-03-27 18:32] sesheta commented on #97
Closing this issue as it is no longer relevant for the current master with SHA 49d0fdfc9a1fcfd5f51c53972cd2fcd223b1ddcf.

[2020-03-27 18:32] #97 closed

[2020-04-17 17:03] #93 closed

[2020-04-19 20:04] sesheta opened #98 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA f791d94e07f12b53362ac2b672edaa37d414464a.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-04-19 21:04] sesheta commented on #98
Closing this issue as it is no longer relevant for the current master with SHA f791d94e07f12b53362ac2b672edaa37d414464a.

[2020-04-19 21:04] #98 closed

[2020-04-28 07:04] sesheta opened #100 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA f791d94e07f12b53362ac2b672edaa37d414464a.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-04-28 08:06] sesheta commented on #100
Closing this issue as it is no longer relevant for the current master with SHA f791d94e07f12b53362ac2b672edaa37d414464a.

[2020-04-28 08:06] #100 closed

[2020-05-20 11:20] sesheta opened #102 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 93d4099986a8f9a824dda3b1fa5602f7f9455e6d.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-05-20 12:38] sesheta commented on #102
Closing this issue as it is no longer relevant for the current master with SHA 93d4099986a8f9a824dda3b1fa5602f7f9455e6d.

[2020-05-20 12:38] #102 closed

[2020-05-22 01:19] frankcgq105 opened #103 "prometheus_connect.py ---PrometheusConnect---HTTPS ACCESS"
how to access HTTPS?
it seems there is no the CERT argu to send  the API PrometheusConnect
when I use disable_ssl: False,then the PrometheusConnect function's argu ssl_verification will be turn to  true.

Then it should access the HTTPS by cert file,but how to transfer CERT into the API?

Thanks a lot.

[2020-05-22 02:57] 4n4nd commented on #103
that is a very good question, this needs to be changed. I'll assign myself to this.

Until then, can you manually change the [ssl_verification](https://github.com/AICoE/prometheus-api-client-python/blob/master/prometheus_api_client/prometheus_connect.py#L45) variable for your PrometheusConnect Object to point it to the certs?

it should be similar to this:
[code]

Thanks for letting us know :+1:

[2020-05-22 06:31] frankcgq105 commented on #103
OK,thanks a lot, I'll try it and give the reponse

[2020-05-27 16:50] sesheta opened #104 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 93d4099986a8f9a824dda3b1fa5602f7f9455e6d.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-05-27 18:08] sesheta commented on #104
Closing this issue as it is no longer relevant for the current master with SHA 93d4099986a8f9a824dda3b1fa5602f7f9455e6d.

[2020-05-27 18:08] #104 closed

[2020-05-29 13:19] sesheta opened #106 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 6682fe6dff5b558116f762c4195c4c6a66c7c9d3.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-04 21:22] sesheta opened #107 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 6682fe6dff5b558116f762c4195c4c6a66c7c9d3.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-04 22:09] sesheta commented on #107
Closing this issue as it is no longer relevant for the current master with SHA 6682fe6dff5b558116f762c4195c4c6a66c7c9d3.

[2020-06-04 22:09] #107 closed

[2020-06-11 15:09] 4n4nd opened #110 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-06-11 15:43] #110 closed

[2020-06-11 16:05] harshad16 opened #116 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-06-11 16:22] #116 closed

[2020-06-15 14:35] durandom opened #119 "Add getting started content to README.md"
How about adding some small code snippets that highlight the features of the library and how it's used.
Just like in https://github.com/prometheus/prometheus_api_client_ruby

[2020-06-19 17:11] dankenigsberg opened #121 "Fedora RPM"
I'm an old-fashioned guy who likes to consume his code via `dnf install foo`, where it is generally less random and better controlled by an organization that I already trust. Would you contribute this code to Fedora as a `python3-prometheus-api-client.rpm` ?

[2020-06-22 08:39] durandom commented on #121
@goern didnt you do something similar with a Thoth component? Do you have these steps documented or have somebody to assist?

[2020-06-24 05:35] dankenigsberg opened #125 "readthedocs landing page is rather empty"
**Describe the bug**
https://prometheus-api-client-python.readthedocs.io/en/latest/index.html is quite empty. It should have a word about what the library does, how to obtain it, and (links to?) basic usage.

[2020-06-24 14:52] 4n4nd commented on #125
this isn't really a bug, we just didn't get the chance to add some basic usage info.
Should be related to https://github.com/AICoE/prometheus-api-client-python/issues/119

[2020-06-24 14:54] 4n4nd commented on #125
i'll create a project card for this, so we can track this

[2020-06-24 18:45] suppathak opened #126 "Prometheus-api-client incompatible with pandas version 0.23"
**Describe the bug**
Importing metric snapshot data frame fails when pandas version is 0.23.0.

**Error Output**
ModuleNotFoundError: No module named 'pandas._typing'

[2020-06-24 18:50] 4n4nd commented on #126
Could you please paste the error output here?

[2020-06-24 19:10] suppathak commented on #126
Bug error updated in the description! Thank you :)

[2020-06-29 14:21] hemajv commented on #119
I think we had some content while building the katacoda scenarios, can refine that and also this would be beneficial for our upcoming devconf workshop as well

[2020-06-30 16:11] chauhankaranraj commented on #126
IIUC the root cause of this issue is that the `pandas._typing` module didn't exist in `0.23.x`. Rn I can think of three possible ways to fix this:
1. Update the `Pipfile` to have `pandas = ">=1.0.0"`
2. Remove declaring types in the `__init__` function (lines [52](https://github.com/AICoE/prometheus-api-client-python/blob/master/prometheus_api_client/metric_snapshot_df.py#L52)-[56](https://github.

[2020-07-01 14:01] 4n4nd commented on #126
@chauhankaranraj @suppathak

the first suggested solution looks the simplest to me

[2020-07-01 18:04] suppathak commented on #126
The first suggested solution, to have pandas==1.0.0 works in my case.
Thank you!

[2020-07-01 21:39] 4n4nd commented on #126
Can one of you folks update the Pipfile and the requirements.txt?

[2020-07-07 20:37] chauhankaranraj commented on #126
Sure, I can update those. Unless @suppathak wants to do it?

[2020-07-08 02:56] suppathak commented on #126
@chauhankaranraj @4n4nd Just updated the pipfile and requirement.txt file to have pandas = ">=1.0.0" and did PR

Thanks!

[2020-07-08 15:02] harshad16 opened #128 "enable to use custom env vars with aicoe-ci pytest and migrate from zuul."
**Describe the bug**
As thoth-station is mirgating from zuul. The zuul service on the repository is having issue with regards to running pytest, lets move the repo from zuul and work on running the pytest through aicoe-ci.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a PR
2. See error

**Expected behavior**
pytest check should be run by aicoe-ci.

**Additional context**
Related-to: #

[2020-07-08 16:29] 4n4nd commented on #126
@suppathak Should we close this issue then?

[2020-07-08 16:36] suppathak commented on #126
If everything seems ok, we can close the issue!
Thanks :)

[2020-07-08 16:37] #126 closed

[2020-07-24 20:12] allenmqcymp opened #130 "Pandas range dataframe"
**Problem**
I would like to be able to get a Pandas Dataframe of a PromQL range query, instead of just having the instantaneous dataframe, which comprises the first or last values of a range query at the moment.

**Proposal**
A new class called `MetricRangeDataFrame` which creates a Pandas MultiIndex. The DataFrame could look something like this, where timestamp is its own index and all the other

[2020-07-24 21:01] chauhankaranraj commented on #130
I like this idea. @4n4nd, correct me if I'm wrong, but IIRC we had talked about doing something like this when we were planning `MetricSnapshotDataFrame`, but we never got around to it for some reason. I think this can be a useful feature. wdyt?

[2020-07-24 21:46] 4n4nd commented on #130
yeah I think it was supposed to be a "range" version of the `MetricSnapshotDataFrame`

Agreed :100:
@allenmqcymp if you can work on adding this, I think it would be a great addition :+1:

[2020-07-27 13:48] #35 closed

[2020-07-28 11:19] 4n4nd opened #135 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-07-28 11:24] 4n4nd commented on #135
@alexandrevicenzi the new release should be created soon :+1:

[2020-07-28 11:25] #135 closed

[2020-07-31 14:17] 4n4nd opened #138 "Add Support for the Prometheus Remote Read API"
This should enable the user to stream requested metrics from the [Prometheus Server](https://prometheus.io/blog/2019/10/10/remote-read-meets-streaming/#remote-read).

Also, need to add an exporter that can output the stream metrics to Parquet. (Similar to [prom-exporter](https://gitlab.cee.redhat.com/data-hub/prometheus-data-exporter/-/blob/master/prom_data_exporter/writer.py#L126))
@durandom @acc

[2020-08-04 14:30] 4n4nd commented on #138
Ideally we should be able to use the [proto file](https://github.com/thanos-io/thanos/blob/master/pkg/store/storepb/rpc.proto) from Thanos with minimal changes

[2020-08-05 07:33] gmfrasca commented on #138
Initial Draft Requirements, pending updates and suggestions from Thanos/Telemetry team:

* User Provided Input:
    - Metric/Label Name
    - Metric Duration
    - Prometheus Configuration containing:
        - Prometheus Endpoint
        - Prometheus Credentials or SA/Bearer Token
   - Storage Destination/Configuration

* Reader should be able to be called as a simple script with minimal setup (s

[2020-08-06 14:52] bwplotka commented on #138
Hey, we are exactly working on that with @iNecas here but in Go: https://github.com/thanos-community/obslytics/tree/master/pkg

Having this in Go actually means we can reuse tons of packages from Prometheus (vs chunk encoding)/

By looking on your draft this tool meets requirements, we planned to produce `parquet` files.

The idea is to support even more e.g Arrow Flight gRPC. If you have **any**

[2020-08-06 16:15] 4n4nd commented on #138
Yeah we don't really have a ton of experience with Go, so some help would be awesome.

I'll read through the issues and will try to work on something :+1:

[2020-08-07 09:37] martinpovolny opened #141 "Tests are failing on master"
**Describe the bug**
Tests are failing on master

**To Reproduce**
Run the test.
Btw what is the preferred way of running tests? This should be documented in the Readme.md.

**Expected behavior**
Test should pass on master.

[2020-08-07 09:38] martinpovolny commented on #141
some relevant comments here: https://github.com/AICoE/prometheus-api-client-python/pull/140

[2020-08-07 15:10] #130 closed

[2020-08-10 14:26] #128 closed

[2020-08-10 16:54] #141 closed

[2020-08-12 09:53] martinpovolny commented on #82
@4n4nd : I'd volunteer to get this done. I am looking for a nice way to do it.

I think that the goal should be that any external calls (to thanos/prometheus) could be cached.

That means if you would run a notebook such as `MetricsList_example.ipynb` with the caching enables, any query to the server would be executed only the first time even if you re-evaluate the notebook cell with the statement

[2020-08-12 13:22] 4n4nd commented on #82
Thanks, that would be awesome :+1:

that seems like a great idea to me, but do you think it would be better to just cache jsons instead of pickled dataframes?

[2020-08-12 14:28] martinpovolny commented on #82
sure, if we place the caching around `self._session.get(` I'd cache jsons.

I cached pickled dataframes in my case because I placed the caching much higher in abstraction.

Ok, I'll make a PR.

[2020-08-13 11:28] martinpovolny opened #145 "`examples/MetricsList_example.ipynb` is broken due to inaccessible server"
**Describe the bug**

`examples/MetricsList_example.ipynb` does not work. The server does not exist (even inside the VPN).

**To Reproduce**
Open the notebook via `jupyter notebook examples/MetricsList_example.ipynb`

Observe a number of cells fail.

**Expected behavior**
Cells would render fine.

**Additional context**

If we implement result caching (https://github.com/AICoE/prometheus-api-clien

[2020-08-13 13:17] 4n4nd commented on #145
oh that's because the metrics we are using in the notebook are not available anymore :(

[2020-08-20 13:18] 4n4nd commented on #145
I can replace the internal Prometheus instance to http://demo.robustperception.io:9090/graph
also we need to update the prometheus-api-client version in the notebook.

[2020-09-01 02:47] 4n4nd commented on #138
This issue is being tracked [here](https://projects.engineering.redhat.com/browse/DATAHUB-2331) internally.

[2020-09-01 15:15] hemajv commented on #119
apologies for the delay, will ensure to submit a PR today

[2020-09-02 08:03] rsevilla87 opened #149 "New version on pypi"
Hi, my team and I are using some features (bfb6eee8040ccd5b53c0bb09e26b98b89cfc542c) of this library that are not available in the published package in PyPI. When do you have plans to publish a new version?

Thanks!

[2020-09-02 12:15] 4n4nd opened #150 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-02 12:22] #150 closed

[2020-09-02 12:24] 4n4nd commented on #149
#150 Should have released a new version `0.4.1`

[2020-09-02 12:48] rsevilla87 commented on #149
Oh, thats great. Thank you very much :)

[2020-09-02 12:48] #149 closed

[2020-09-14 20:51] #119 closed

[2020-09-15 15:43] 4n4nd opened #157 "Add `MetricSnapshotDataframe` basic usage docs to README"
Similar to the `Metric` class usage we need basic usage instructions for the `MetricSnapshotDataframe` class.

[2020-09-28 17:57] #157 closed

[2020-09-29 15:51] 4n4nd opened #164 "[Operate First] Create a blog post about basic interaction with Prometheus Metrics using the API"
Could be basic metrics stuff or
We could also add something more data sciency with the metrics

[2020-09-29 15:53] 4n4nd opened #165 "[Discussion] Should we deprecate the `Metric`/`MetricsList` Classes?"
I was thinking if we should deprecate the [Metric](https://github.com/AICoE/prometheus-api-client-python/blob/5aff3b2223a63cfa7650c54000e98e1f999ba3da/prometheus_api_client/metric.py)/[MetricsList](https://github.com/AICoE/prometheus-api-client-python/blob/5aff3b2223a63cfa7650c54000e98e1f999ba3da/prometheus_api_client/metrics_list.py) Classes, since the [MetricRangeDataFrame](https://github.com/AI

[2020-10-27 14:59] 4n4nd commented on #138
Since the Remote Read API support was added to the https://github.com/thanos-community/obslytics project, I will close this issue today.

[2020-11-12 13:59] #145 closed

[2020-11-12 14:03] hemajv commented on #47
I think this is covered and closed in #119?

[2020-11-16 20:09] 4n4nd opened #176 "Missing RTD documentation for class `MetricRangeDataframe`"
**Describe the bug**
In the Readthedocs page for [Prometheus-api-client](https://prometheus-api-client-python.readthedocs.io/en/latest/py-modindex.html), the documentation for class `MetricRangeDataframe` is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://prometheus-api-client-python.readthedocs.io/en/latest/py-modindex.html

**Expected behavior**
Similar to `MetricSna

[2020-11-17 15:18] #176 closed

[2020-11-18 04:32] anushkrishnav commented on #164
With some guidance, I would love to work on this

[2020-11-18 04:46] anushkrishnav commented on #79
I would love to work on this

[2020-11-23 08:48] goern commented on #79
@anushkrishnav go ahead, have fun und let us know if you need help!

/assign @anishasthana
Cc: @durandom

[2020-11-23 08:49] goern commented on #164
Cc: @durandom

[2020-11-23 13:07] anishasthana commented on #79
/assign @anushkrishnav
assuming we had a slight mistake here with the assignment :-)

[2020-11-23 14:15] anushkrishnav commented on #79
Sure

[2020-11-24 07:38] anushkrishnav commented on #69
If it is still open I can work on this

[2020-11-24 08:49] goern commented on #69
/assign @anushkrishnav
/kind feature

[2020-11-24 16:42] 4n4nd opened #179 "Create an instructional notebook image for the Obslytics tool"
Build the obslytics binary and use it in jupyterhub images so that DS can directly import data directly from thanos or even prometheus

[2020-11-24 16:50] chauhankaranraj commented on #179
I'm happy work on the exploratory notebook for this :)

[2020-11-24 16:51] 4n4nd commented on #179
Thanks!

[2020-11-25 08:30] pacospace opened #180 "Introduce check connection method for Prometheus"
**Is your feature request related to a problem? Please describe.**<br>
As user of Prometheus API client,

I would like to have a way to check if the endpoint is available or my inputs are correct for connection before trying to fetch many types of metrics and immediately stop the application.

**Describe the solution you'd like**<br>
Introduce a method that returns True/False if the endpoint is av

[2020-11-28 13:54] anushkrishnav commented on #1
I would love to work on this with some guidance

[2020-11-28 13:55] anushkrishnav commented on #42
Can I work on this ?

[2020-11-30 00:51] 4n4nd commented on #164
@Shreyanand

[2020-11-30 04:16] anushkrishnav commented on #1
Where do I start ?

[2020-11-30 04:25] anushkrishnav commented on #79
Closing this issue since my PR should fix the issue.

[2020-11-30 04:41] anishasthana commented on #42
@anushkrishnav go for it!

[2020-11-30 06:48] anushkrishnav commented on #69
I don't understand why we need to save data through  get_current_metric_value, the work is done through the get_metric_range_data anyway. I would add the option but don't understand why we will need it in both the functions

[2020-11-30 16:39] #180 closed

[2020-11-30 16:42] Shreyanand commented on #164
Tracked a similar issue in the time series analysis repository. Check this [pull request](https://github.com/aicoe-aiops/time-series/pull/4).
The time series analysis [repository](https://github.com/aicoe-aiops/time-series) is a collection of notebooks (and corresponding blog posts) to be published on operate first.

[2020-11-30 16:53] #79 closed

[2020-11-30 16:56] 4n4nd commented on #1
Maybe look for places where you could add more debug statements? ([like these](https://github.com/AICoE/prometheus-api-client-python/blob/master/prometheus_api_client/prometheus_connect.py#L192-L194))

[2020-12-03 15:22] pacospace commented on #180
@4n4nd how do you plan to release here? and do you use Bot to release?

[2020-12-03 15:23] 4n4nd commented on #180
@pacospace oh yes we do use the bot to release, let me create a new one :+1:

[2020-12-03 15:23] 4n4nd opened #183 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-12-03 15:28] pacospace commented on #180
Thanks you very much @4n4nd :rocket:

[2020-12-03 16:47] #183 closed

[2020-12-03 16:47] 4n4nd opened #185 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-12-03 18:48] #185 closed

[2020-12-18 09:46] anushkrishnav commented on #179
I wish to take up the Issue

[2020-12-18 15:42] 4n4nd commented on #179
@anushkrishnav I think @chauhankaranraj might have already started working on this issue

[2020-12-18 15:59] chauhankaranraj commented on #179
Yeah I did start working on this but couldn't work on it this last sprint. I'm planning on finishing it next sprint, but if not then I'll let you folks know on here :)

[2021-01-04 17:42] anushkrishnav commented on #69
@4n4nd @goern

[2021-01-04 18:23] chauhankaranraj commented on #69
Hi Anush, IIUC `get_current_metric_value` and `get_metric_range_data` are geared towards different usecases (former gets values from _current_ timestamp, latter gets values from a _time interval_). So it's possible that a user chooses to use **only one** of these two.

If they're using `get_metric_range_data`, they can save results locally using `store_locally`; but if they're using `get_current_m

[2021-01-04 18:26] chauhankaranraj commented on #69
@4n4nd does #152 already implement the required functionality and deprecate `store_locally` altogether? Or do we still need this parameter?

[2021-01-08 17:59] 4n4nd commented on #164
@Shreyanand can we close this issue?

[2021-01-08 18:08] 4n4nd commented on #69
@anushkrishnav @chauhankaranraj Ideally I would like to deprecate `store_locally` and create a new "adapter" that can be used to store data to different types of storages. For example, the same adapter could be used to store data on a file system as well as on other types like S3. This would make it easier for us to add new storage types in the future.

[2021-01-08 19:57] Shreyanand commented on #164
Yup! Here's the [post](https://www.operate-first.cloud/data-science/time-series/notebooks/ts-1-fetching-metrics.ipynb).

[2021-01-08 19:57] #164 closed

[2021-01-09 06:02] anushkrishnav commented on #69
Interesting , I would love to work on it , any existing examples you can share?

[2021-01-12 21:07] 4n4nd commented on #69
Yeah I can assign this card to @anushkrishnav but I don't have any examples unfortunately :(

[2021-01-12 21:07] 4n4nd commented on #69
/assign @anushkrishnav

[2021-01-14 16:13] 4n4nd opened #188 "Add gchat and slack help room links to the readme"
Slack: https://join.slack.com/share/zt-kw3v8t1e-hbcVH7X7bXORiQuQtsNZ4A
Google Chat: https://chat.google.com/room/AAAAzFPwq5s

[2021-01-16 11:24] anushkrishnav commented on #69
I will get started on it but can you explain it a bit more .

[2021-01-16 15:58] 96RadhikaJadhav commented on #188
@4n4nd Can I work on the issue?

[2021-01-18 21:45] chauhankaranraj commented on #179
It looks like Obslytics already stores data in a data analysis friendly data format, it just has to be downloaded (`s3.download_fileobj()`) and read (`pd.read_parquet`). So imho the main "instructional" part of this notebook would be how to set up and run the Obslytics tool, which admittedly I as a data scientist don't have expertise in.

@4n4nd how would you feel about adding that bit first, and

[2021-01-18 21:50] 4n4nd commented on #179
yeah I can do that :+1:

[2021-01-18 21:51] 4n4nd commented on #188
yeah! all contributions are much appreciated

[2021-01-18 21:51] 4n4nd commented on #188
/assign @96RadhikaJadhav

[2021-01-18 21:57] 4n4nd commented on #69
@anushkrishnav I was thinking about something like this [object store package they use in thanos](https://github.com/thanos-io/thanos/tree/master/pkg/objstore)

[2021-01-21 14:50] FutureSharks opened #190 "PrometheusConnect.check_prometheus_connection() does not work"
**Describe the bug**

I can get metrics but `PrometheusConnect.check_prometheus_connection()` always returns false.

**To Reproduce**

[code]

**Expected behavior**

`PrometheusConnect.check_prometheus_connection()` to return `True`

[2021-01-21 15:04] FutureSharks commented on #190
Perhaps because we are using [VictoriaMetrics](https://github.com/VictoriaMetrics/VictoriaMetrics) as storage for prometheus.

[code]

But getting metrics works:

[code]

Is that the reason?

[2021-01-21 16:03] anushkrishnav commented on #69
Can I make use of [object-store package](https://pypi.org/project/object-store/)

[2021-01-21 16:27] 4n4nd commented on #190
It looks like your proxy doesn't have the endpoint `.../prometheus` open, but `.../prometheus/api/` is open.

I think that is the reason

[2021-01-22 11:01] FutureSharks commented on #190
OK. I guess VM is not common enough to warrant an adaptation in this project so I'll close this and implement my own solution.

[2021-01-22 11:01] #190 closed

[2021-01-22 12:27] 4n4nd commented on #190
@FutureSharks do you have any suggestions for a solution?

[2021-01-27 15:53] FutureSharks commented on #190
I did this:

[code]

But it's not perfect. I will see if there's a `/health` endpoint we can call when using VM....

[2021-01-27 17:25] chauhankaranraj opened #191 "Missing timestamp validity checks in get_metric_range_data"
**Describe the bug**
If a user accidentally passes an [end_time](https://github.com/AICoE/prometheus-api-client-python/blob/master/prometheus_api_client/prometheus_connect.py#L162) that is before [start_time](https://github.com/AICoE/prometheus-api-client-python/blob/master/prometheus_api_client/prometheus_connect.py#L161) ( like I did :) ), then the `get_metric_range_data` function returns an emp

[2021-01-27 21:22] 4n4nd commented on #190
I think you can use
[code]

[2021-02-01 15:16] max-rocket-internet commented on #190
@4n4nd I think that query is quite heavy, for example it returns over 4K items for me. `prometheus_build_info` is 1 item per prom server I think 🙂

[2021-02-01 20:59] 4n4nd commented on #190
oh my bad, i meant to say that you can use `get_current_metric_value` instead of `get_metric_range_data` to make it look cleaner

[2021-02-02 08:23] max-rocket-internet commented on #190
OK I see what you mean, yes `get_current_metric_value` is cleaner. Thanks!

[2021-03-17 21:41] anushkrishnav commented on #191
I am intrested

[2021-03-18 14:22] 4n4nd commented on #191
/assign @anushkrishnav
Thanks!

[2021-03-20 08:42] anushkrishnav commented on #191
Will send in a PR soon @4n4nd
Is there any slack group or a similar place ? i would love to join and get more involved I am in my pre final year and would learn a lot from the team

[2021-03-20 13:27] 4n4nd commented on #191
Hey @anushkrishnav, yes we do have a gchat and a slack channel. The links should be available in this issue: https://github.com/AICoE/prometheus-api-client-python/issues/188
Please lmk if they don't work.

[2021-03-21 22:51] anushkrishnav commented on #191
@4n4nd the slack invite is no longer available

[2021-03-22 16:26] 4n4nd commented on #191
@anushkrishnav I think you can join the Operate-First Group on Slack using this [link](https://join.slack.com/t/operatefirst/shared_invite/zt-o2gn4wn8-O39g7sthTAuPCvaCNRnLww) this link will expire in 30 days or so.
There you can find a channel I just created `help-prometheus-api-client-python`. Lmk if there are any issues.

[2021-03-22 21:04] anushkrishnav opened #196 "Update requirements.txt - add httmock"
Module ' httmock'  is missing from the Requirements it's required to run pytest can I update the requirements.txt and add httmock as a requirement?

[2021-04-08 18:47] Shackelford-Arden opened #197 "Usage Question - custom_query vs get_metric_range_data"
**Question**

I have the following custom query:

[code]

When I get the data return over raw HTTP (w/ requests.get()) I get my results back as a `vector` resultType with other related metric data. The values returned are what I expected:

"value": [<float>, "0"]

Using `custom_query` I can obtain the same results. But when I attempt to use one of the other methods you kind folks provide, such as

[2021-04-08 19:06] 4n4nd commented on #197
@Shackelford-Arden are you saying the `curr_range_data` and `calc_range_data` have different values or that the `curr_range_data` has different values compared to what you see in the prometheus console?
Basically, I am trying to understand whether the data queried from Prometheus is different or the data when converted to a dataframe is different.

[2021-04-08 19:13] Shackelford-Arden commented on #197
Sorry, I could have made that more clear :)

`curr_range_data` and `calc_range_data` is the same after the conversion.

The difference is the data I see when compared to the Prometheus console.

Now, I am not 100% that I'm using this correctly. Right, my "raw" query includes a `rate()` call, which I believe is getting me the value of 0 that I expect/need. If I wanted to use `rate()`, am I going to

[2021-04-08 19:26] 4n4nd commented on #197
So, could you try collecting more data (say 1 day worth of data) and plot it? Both in console and in python? Can you check if there is a shift in the plot?

The only thing that can make it different is the start and end times.
Maybe your Prometheus host and python host are in different timezones?

Thanks!

[2021-04-08 20:34] #197 closed

[2021-04-12 21:50] chauhankaranraj opened #198 "Treat unique label configs as separate time series in MetricRangeDataFrame"
**Is your feature request related to a problem? Please describe.**<br>
[MetricRangeDataFrame](https://github.com/AICoE/prometheus-api-client-python/blob/2f4cba0602be97637caf66790a50076b79d1704f/prometheus_api_client/metric_range_df.py) formats results of data type ["range vector"](https://prometheus.io/docs/prometheus/latest/querying/basics/#expression-language-data-types) into an easy to work wit

[2021-04-12 21:52] chauhankaranraj commented on #198
@4n4nd Do you think this would be a valuable addition? Or is this **not** how you'd imagine the users would generally use it?

/cc @MichaelClifford @Shreyanand

[2021-04-12 21:58] 4n4nd commented on #198
I am all for making it more consistent with the Prometheus console output :+1:

[2021-04-12 23:19] MichaelClifford commented on #198
:+1: @chauhankaranraj

I'm all for this change to provide the time series grouped by unique labels as the default behavior. That said, we could use multi-indexing and maintain everything in a single DF, or we could divided the collected data into a dictionary that has a DF for each unique label set. Which may make it easier for someone to understand the data and work with the entities they are int

[2021-04-27 18:40] chauhankaranraj commented on #198
Oh yeah, I think if having a separate df for each label config is more suited to the use case, then maybe just `MetricsList` could be used? I think it does precisely that (following snippet put together from the [example notebook](https://github.com/AICoE/prometheus-api-client-python/blob/559434db91bd59af7adadc41456a3f889f09ddb6/examples/MetricsList_example.ipynb)). wdyt?

![Screenshot from 2021-0

[2021-05-08 03:19] Lobo-m4 commented on #198
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.applymap.html

[2021-05-08 04:43] Lobo-m4 opened #199 "bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2021-05-17 15:39] razdenand opened #200 "prometheus-api-client-python 0.4.2 dont work with python 3.6.x"
Hi, we try to use your lib with version 0.4.2 in our project which hae python 3.6, and when we try to pip your lib in our gitlab job, we have some strange errors ```ImportError while importing test module "some_module".
Hint: make sure your test modules/packages have valid Python names```
but we have this module. When i use you lib with version 0.0.1, ith ok, and all libs install correct, can you

[2021-05-17 18:21] 4n4nd commented on #200
@razdenand I just created a new Python 3.6 environment and tried the following:
[code]

I wasn't able to replicate the error. Is there a specific submodule you are trying to import maybe?

[2021-05-17 18:38] 4n4nd commented on #199
@Lobo-m4 can you please add more information about your issue and reopen this?

[2021-05-17 18:38] #199 closed

[2021-05-17 23:40] Shackelford-Arden commented on #196
If I'm not mistaken @anushkrishnav , it looks like they have this defined in the [pipfile](https://github.com/AICoE/prometheus-api-client-python/blob/master/Pipfile#L7)? Should probably be able to close this out since it's indicated there.

[2021-05-18 08:52] razdenand commented on #200
Sorry for dismiss, this error created when i try to run my unit tests by command ```coverage run --source=. -m pytest -o junit_family=xunit2 --junit-xml report.xml```

[2021-05-18 10:25] razdenand commented on #200
Hm, i think we know what happend, after version v0.0.2b4 you have dir tests which is have __init__.py and its package now, and we also have dir tests but its dont package, but we run tests, our project try to import tests as package cos you dir is package

[2021-05-18 14:37] 4n4nd commented on #196
Thanks @Shackelford-Arden. Yes, we use the pipfile for dev packages. I didn't want the dev packages to be installed when a user tries to `pip install` the library, so it wasn't added to the requirements.txt.
If you folks have any suggestions on how to manage this better, please let us know.
Until then I will just close this issue, please feel free to reopen it.

[2021-05-18 16:43] 4n4nd commented on #200
@razdenand I am sorry but I am not sure how to help you out here. As far as I know, keeping the tests in a `tests` directory is pretty standard for a python project. Do you have any suggestions?

[2021-05-18 16:49] harshad16 opened #201 "Kebechet update"

[2021-05-18 17:20] #201 closed

[2021-05-18 17:22] harshad16 opened #202 "Kebechet update"

[2021-05-18 18:18] #202 closed

[2021-05-18 18:18] harshad16 opened #203 "Kebechet info"

[2021-05-18 18:20] #203 closed

[2021-05-26 20:55] Shreyanand opened #204 ""step" in get_metric_range_data method"
**Is your feature request related to a problem? Please describe.**<br>
As a user, I would like to get aggregated data using the "get_metric_range_data" method. The default resolution of data is in seconds. If I want data for a year, the number of data points is huge and it takes a lot of compute resources to download and store the data. I would like to get the data in hourly or daily frequency. Fo

[2021-05-26 21:00] 4n4nd commented on #204
`step` seems like a good parameter to add to range queries, this would make the api client more "complete" with the api ([api docs](https://prometheus.io/docs/prometheus/latest/querying/api/#range-queries)).

I think we can add `step` and also the `timeout` parameter while we are at it

[2021-05-26 21:26] 4n4nd commented on #204
Just checked, we are using the `query` API and not the `query_range` API for the `get_metric_range_data` function (not sure if this is the best way to do it, I'll have to look into it).
But you can use the [`custom_query_range` function](https://prometheus-api-client-python.readthedocs.io/en/master/source/prometheus_api_client.html#prometheus_api_client.prometheus_connect.PrometheusConnect.custom_

[2021-06-17 19:22] Shackelford-Arden opened #207 "MetricSnapshotDataFrame Excepts When Passed an Empty List"
**Describe the bug**

Not sure that I want to truly declare this a bug, but felt this was maybe a good place to start?

When running a query against Prometheus and no results are returned, we're given an empty list.

For example:

[code]

The example for this project (which is mimicked above) likely assumes that this will _always_ return data (ie not an empty list). However, as I've learned, I can

[2021-06-17 19:29] Shackelford-Arden commented on #207
Oh, and I'll note that, yes, on my end I should be checking (and now am) that the `metric_data` actually contains data. However, I still felt like it'd be good to add something useful to others who may have forgotten to check.

[2021-06-17 20:31] chauhankaranraj commented on #207
@Shackelford-Arden Thanks for opening an issue for this! Could you please provide some more details on how to replicate this error?

I tried to do the following but it doesn't seem to exception out for me.

![Screenshot from 2021-06-17 16-29-50](https://user-images.githubusercontent.com/15005500/122468123-4af56f00-cf89-11eb-960c-22b4f3d0413a.png)

[2021-06-18 16:52] #47 closed

[2021-06-18 17:19] harshad16 opened #208 "Kebechet update"

[2021-06-22 18:32] #208 closed

[2021-06-22 18:34] 4n4nd opened #211 "Kebechet update"

[2021-06-22 18:36] 4n4nd commented on #211
cc @harshad16

[2021-06-22 18:36] #211 closed

[2021-07-01 22:32] sesheta commented on #103
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 07:32] sesheta commented on #82
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 10:36] sesheta commented on #138
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 13:36] sesheta commented on #42
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 07:39] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 07:39] sesheta commented on #125
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 07:39] sesheta commented on #179
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 07:39] sesheta commented on #90
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 07:39] sesheta commented on #121
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 10:41] sesheta commented on #5
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 10:41] sesheta commented on #43
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 10:41] sesheta commented on #1
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 10:41] sesheta commented on #69
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-03 16:40] sesheta commented on #191
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-27 20:05] Shackelford-Arden commented on #207
@chauhankaranraj My apologies for the really long delay in getting back you guys. Shame on me, but I didn't document well enough how I managed to replicate this issue. I'll close this out so as to not keep this open without proper replication steps. If I run into this again or manage to replicate it (and document it!) I'll come back.

Thanks for the great work on this package :) Really appreciate

[2021-07-27 20:05] #207 closed

[2021-07-28 19:01] Shackelford-Arden opened #214 "TypeError on Values that are Strings"
**Describe the bug**

When attempting to get the `.mean()` of a MetricSnapshotDataFrame column _that has more that one row_, one is presented with a TypeError:

[code]

**To Reproduce**

Here is what I've done to reproduce this error:

[code]

The faked data above is a stripped down version of a response we get directly from Prometheus (Thanos in this instance) using `get_current_metric_value`.

*

[2021-09-08 02:29] khebhut[bot] opened #218 "Kebechet thoth-advise manager: ServiceUnavailable - 4630a414d0"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ServiceUnavailable) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call

[2021-09-08 02:29] khebhut[bot] opened #219 "Kebechet thoth-provenance manager: ServiceUnavailable - 73fe900186"
## Description
This is an automated issue generated by Kebechet. The thoth-provenance manager threw an exception (ServiceUnavailable) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent

[2021-09-11 04:38] khebhut[bot] opened #220 "Kebechet thoth-advise manager: ConnectionError - b7fc3be9d3"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call la

[2021-09-11 04:38] khebhut[bot] opened #221 "Kebechet thoth-provenance manager: ConnectionError - 31bbe43642"
## Description
This is an automated issue generated by Kebechet. The thoth-provenance manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent cal

[2021-09-14 13:22] SoundsOfAnarchy commented on #200
it can be solved by adding `__init__.py` to your local `tests` directory

[2021-10-14 09:00] sesheta commented on #42
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 21:00] sesheta commented on #121
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 21:00] sesheta commented on #5
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 21:00] sesheta commented on #69
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-15 00:00] sesheta commented on #191
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-15 06:00] sesheta commented on #204
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-02 13:50] yrobla opened #222 "get_metric_range_data returns empty content"
When using the get_metric_range_data method, with valid metric and interval, i get empty results.

1. Connect to a prometheus endpoint
2. Set the intervals:

3. Query for data:
metric_data = prom.get_metric_range_data("os_fd_limit", start_time=start_time, end_time=end_time, chunk_size=chunk_size)
/usr/local/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverif

[2021-11-02 15:37] 4n4nd commented on #222
Thanks for opening this issue.

I just tested the function with the following code:
[code]

was able to query it just fine.

[2021-11-04 01:05] buttonfly1000 opened #225 "Ways to import `PrometheusConnect` without also importing **huge** pandas and matplotlib"
**Is your feature request related to a problem? Please describe.**<br>

I found this simple import
[code]
not only import `PrometheusConnect` itself, but also pandas and possibly matplotlib, which take about 50MB more unnecessary memory when I don't want to use DataFrames and plot them.

Is there any way to only import `PrometheusConnect` without also importing **huge** pandas and matplotlib?

[2021-11-12 06:10] sesheta commented on #103
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-12 06:10] #103 closed

[2021-11-12 06:10] sesheta commented on #103
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/103#issuecomment-966851584):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-11-13 03:10] sesheta commented on #82
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 03:11] #82 closed

[2021-11-13 03:11] sesheta commented on #82
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/82#issuecomment-967769686):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 06:10] sesheta commented on #138
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 06:11] #138 closed

[2021-11-13 06:11] sesheta commented on #138
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/138#issuecomment-967789791):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-11-13 09:10] sesheta commented on #42
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 09:11] #42 closed

[2021-11-13 09:11] sesheta commented on #42
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/42#issuecomment-967884932):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 18:11] sesheta commented on #165
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 18:11] sesheta commented on #179
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 18:11] sesheta commented on #90
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 18:11] #90 closed

[2021-11-13 18:11] #165 closed

[2021-11-13 18:11] #179 closed

[2021-11-13 18:11] sesheta commented on #165
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/165#issuecomment-968111140):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-11-13 18:11] sesheta commented on #90
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/90#issuecomment-968111144):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 18:11] sesheta commented on #179
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/179#issuecomment-968111141):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-11-13 21:10] sesheta commented on #121
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 21:10] sesheta commented on #5
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 21:10] sesheta commented on #69
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 21:10] sesheta commented on #1
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 21:10] sesheta commented on #43
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 21:11] sesheta commented on #125
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 21:11] #121 closed

[2021-11-13 21:11] #5 closed

[2021-11-13 21:11] sesheta commented on #5
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/5#issuecomment-968136646):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-13 21:11] #69 closed

[2021-11-13 21:11] sesheta commented on #121
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/121#issuecomment-968136643):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-11-13 21:11] #125 closed

[2021-11-13 21:11] #1 closed

[2021-11-13 21:11] #43 closed

[2021-11-13 21:11] sesheta commented on #69
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/69#issuecomment-968136647):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 21:11] sesheta commented on #125
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/125#issuecomment-968136653):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-11-13 21:11] sesheta commented on #1
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/1#issuecomment-968136650):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-13 21:11] sesheta commented on #43
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/43#issuecomment-968136652):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 21:11] sesheta commented on #198
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 06:11] sesheta commented on #204
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-18 21:12] sesheta commented on #191
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-18 21:12] sesheta commented on #191
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/191#issuecomment-973275143):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-11-26 00:15] sesheta commented on #214
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-08 18:19] sesheta commented on #218
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-08 18:19] sesheta commented on #219
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-10 06:19] sesheta commented on #220
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-10 06:19] sesheta commented on #221
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-13 15:19] sesheta commented on #200
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-14 00:17] sesheta commented on #198
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 00:18] #198 closed

[2021-12-14 00:18] sesheta commented on #198
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/198#issuecomment-993030026):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-12-14 06:18] sesheta commented on #204
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 06:18] #204 closed

[2021-12-14 06:18] sesheta commented on #204
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/204#issuecomment-993195731):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-12-14 15:00] #191 closed

[2021-12-14 15:10] #222 closed

[2021-12-14 15:24] 4n4nd opened #227 "Dependencies in the pip lock seem to have lagged behind because of issues in automated updates"
We need to update dependencies as well as the python version specified in the pipfile

[2021-12-14 17:47] #227 closed

[2021-12-14 17:51] 4n4nd opened #229 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-12-14 17:58] #229 closed

[2021-12-20 14:46] mmazur opened #231 "`timestamp` index should be DateTimeIndex, not floats"
The idea behind representing fetched prom data (or any data) as a Pandas DataFrame is to enable the processing of such data with all the powerful Pandas features.

But in case of a timeseries a major component of the data is the actual timestamps, which, to be usable, need to be represented as some form of datetime objects and not unix epoch timestamp floats, as they are now.

I propose to conside

[2021-12-20 14:49] 4n4nd commented on #231
@chauhankaranraj might be the better person for this issue

[2021-12-20 15:52] chauhankaranraj commented on #231
That sounds liike a good idea, @mmazur! IMO we could change the default behavior to convert the Float64Index to DateTimeIndex when the raw data is being parsed. WDYT?

Also, is this something you'd like to work on? If not, I'm happy to take it up as well :smile:

[2021-12-20 16:12] harshad16 opened #233 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.5.0

[2021-12-20 16:13] sesheta commented on #233
Successfully Delivered Package module to Pulp PyPI.
Package can be found at: [https://pypi.org/project/prometheus-api-client](https://pypi.org/project/prometheus-api-client)

[2021-12-20 16:13] #233 closed

[2021-12-20 16:29] mmazur commented on #231
I'm for changing the default behavior to be more Pandas–like and maybe have an argument `parse_timestamps=True` in the query functions. I've checked and for large enough data sets it does take a while to do the conversion, so there might be cases where people don't care about the timestamps themselves (just need the values) and would like an option of making it go faster by skipping the datetime c

[2021-12-20 16:49] chauhankaranraj commented on #231
Yeah that makes sense :+1:

Sounds good, I'll assign myself to this then :)

/assign chauhankaranraj

[2021-12-20 20:44] chauhankaranraj commented on #231
Hey @mmazur, I have added a PR (#234) to change the default dtypes for timestamps in the dataframe classes. Feel free to review it and let us know if you have any feedback!

[2021-12-23 16:19] chauhankaranraj commented on #225
Hi @thetaprimeprime, that's an great observation! I did some memory profiling and can confirm that the additional pandas and matplotlib imports do indeed increase the memory usage by about ~45MB.

At the moment, I don't think so. But I believe this would be a nice and welcome improvement :smiley:  Is this something you'd like to work on, or would you rather someone from our team do it?

One way to

[2021-12-26 00:21] sesheta commented on #214
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-26 00:23] sesheta commented on #214
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/214#issuecomment-1001087063):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-01-04 15:20] chauhankaranraj commented on #214
Thanks for bringing this up, @Shackelford-Arden, and my apologies for letting this fall off my radar :sweat_smile:

AFAIK (pls correct me if I'm wrong) the "value" field in prometheus is supposed to have only numeric data (prometheus/prometheus#2227). So I'm quite intrigued to see that the returned data in "value" is of type str, and not float or int. But this does seem to be the case for two othe

[2022-01-07 18:23] sesheta commented on #218
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-07 18:23] sesheta commented on #219
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-09 06:23] sesheta commented on #220
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-09 06:23] sesheta commented on #221
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-12 15:23] sesheta commented on #200
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-24 03:24] Shackelford-Arden commented on #214
@chauhankaranraj I'd love to see if I can give it a go via PR. I'll take a look this week.

[2022-01-24 23:58] Shackelford-Arden commented on #214
@chauhankaranraj Here we go :)

#237

[2022-02-02 05:59] #231 closed

[2022-02-06 18:24] sesheta commented on #218
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-06 18:24] sesheta commented on #219
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-06 18:24] #218 closed

[2022-02-06 18:24] sesheta commented on #218
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/218#issuecomment-1030887133):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-02-06 18:24] #219 closed

[2022-02-06 18:24] sesheta commented on #219
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/219#issuecomment-1030887138):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-02-08 06:24] sesheta commented on #220
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-08 06:24] sesheta commented on #221
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-08 06:24] #220 closed

[2022-02-08 06:24] sesheta commented on #221
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/221#issuecomment-1032254436):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-02-08 06:24] #221 closed

[2022-02-08 06:24] sesheta commented on #220
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/220#issuecomment-1032254428):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-02-11 15:24] sesheta commented on #200
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-11 15:25] sesheta commented on #200
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/200#issuecomment-1036329415):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-02-11 15:25] #200 closed

[2022-02-24 17:02] sesheta commented on #214
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-24 17:03] sesheta commented on #214
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/214#issuecomment-1050065203):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-03-17 02:19] stefancrain commented on #42
For the next person who comes across this, I think I've found some success. In my query I was able to use [label_replace](https://prometheus.io/docs/prometheus/latest/querying/functions/#label_replace) to insert a label where there wasn't one.

Updating the example above :

[code]

[2022-03-23 19:20] sesheta commented on #225
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-26 20:06] sesheta commented on #214
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-26 20:06] sesheta commented on #214
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/214#issuecomment-1079766015):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-03-26 20:06] #214 closed

[2022-04-13 21:56] chauhankaranraj opened #239 "PEP8 violating class name PrometheusApiClientException"
**Describe the bug**
The `PrometheusApiClientException` class naming violates pep8 N818 naming convention. So this is resulting in pre-commit-check failing on every PR, even if the PR is not related to this class.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a PR
2. Let aicoe-ci/pre-commit-check run
3. See error

**Expected behavior**
pre-commit-check passes

**Screenshots**
the fo

[2022-04-15 08:36] lynBIT opened #240 "Can the metrics_name be in the format of an expression?"
**Describe the solution you'd like**<br>
I want to get the value of the computed expression through Prometheus' API。
pc.get_metric_range_data(metric_name=train_data[0].metric_name ....)
Can I make metric_name = (1- sum(increase(node_cpu_seconds_total{mode='idle',instance='172.29.3.13:9101'}[2m])) by (instance)/sum(increase(node_cpu_seconds_total{instance='172.29.3.13:9101'}[2m])) by (instance)) *1

[2022-04-22 20:30] sesheta commented on #225
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-06 17:53] NoahZielke opened #241 "Add support for query functions to custom_query_range"
I found that I was unable to use [query functions](https://prometheus.io/docs/prometheus/latest/querying/functions/#rate) on [custom_query_range](https://github.com/AICoE/prometheus-api-client-python/blob/47e133452f15deec58fe66d9ece03515a35cd2c7/prometheus_api_client/prometheus_connect.py#L346) because of how the chunk is implemented.

Is there another way to use these functions or does this suppo

[2022-05-22 23:13] sesheta commented on #225
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-22 23:13] sesheta commented on #225
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-api-client-python/issues/225#issuecomment-1134013893):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-06-04 10:32] peterder72 opened #242 "Async Querying"
I'm using this library for a project of mine where I need to gather 48h worth of timestamp data. While the library gets the job done, since all requests are made sequentially (`prometheus_connect.py`), it takes a ridiculous amount of time to fetch all data while keeping the server resources under-utilized.

A nice idea would be to introduce Async querying functionality to the library (e.g. `async_

[2022-06-08 20:30] chauhankaranraj commented on #242
Thanks for the suggestion @peterder72, I think that's a great idea!

Sure, feel free to get started with the implementation :)

/assign peterder72

[2022-06-30 20:19] chauhankaranraj commented on #241
Hi @NoahZielke thanks for bringing this up! I believe you're right, I'm also unable to use query functions in `get_metric_range_data` like this:
[code]
And yes, it's likely because of the way chunk size is implemented.

I was able to work around this problem by using `custom_query_range` instead like this:
[code]
Does this work for your use case too?

Whether `get_metric_range_data` should be upda

[2022-06-30 20:30] chauhankaranraj commented on #240
Hi @lynBIT, thanks for opening an issue :smile:

I believe it is possible, but using `custom_query_range` instead of `get_metric_range_data`. I was able to run a query similar to yours on the [robustperception.io demo prometheus instance](http://demo.robustperception.io:9090/graph):
[code]

Hope this helps!

[2022-07-02 11:19] NoahZielke commented on #241
Yes, using `custom_query_range` was the workaround I used also. It isn't as confusing in hindsight, but it was initially, and it's interesting that I wasn't the only one with the issue. Thanks

[2022-08-10 12:10] ugurzongur opened #244 "Add auth parameter to support SigV4"
**Is your feature request related to a problem? Please describe.**<br>
Amazon Managed Service for Prometheus (APS) cannot be queried. This is because APS uses SigV4 but prometheus-api-client-python doesn't support that auth method.

**Describe the solution you'd like**<br>
Add auth parameter to PrometheusConnect class init so that we can provide SigV4 auth and pass it to prometheus queries

**Desc

[2022-08-29 23:27] aianus opened #246 "Pypi linking to the wrong github repo"
Pypi still links to https://github.com/AICoE/prometheus-api-client-python

https://pypi.org/project/prometheus-api-client/ (Homepage link)

[2022-08-31 15:04] 4n4nd commented on #246
This needs to be updated in the [setup.py](https://github.com/4n4nd/prometheus-api-client-python/blob/master/setup.py#L37). Thanks for letting us know 👍

[2022-09-01 16:10] #246 closed

[2022-10-10 15:28] sebastian-philipp opened #250 "Update https://pypi.org/project/prometheus-api-client/"
Hi there,

https://pypi.org/project/prometheus-api-client/ still points to the old location https://github.com/AICoE/prometheus-api-client-python which is an empty repository.

Took me a while to figure out this project is still alive

[2022-10-20 16:59] 4n4nd commented on #250
A new release should fix this issue ([required changes](https://github.com/4n4nd/prometheus-api-client-python/pull/248))

[2022-10-20 17:16] 4n4nd commented on #250
A new release was created ([v0.5.2](https://github.com/4n4nd/prometheus-api-client-python/releases/tag/v0.5.2)) and this issue should be resolved now. Thanks for letting us know!

[2022-10-20 17:16] #250 closed

[2022-10-30 03:36] mahtin opened #251 "1.8 seconds for ... from prometheus_api_client import PrometheusConnect"
**Describe the bug**
It seems to take a long time to import from the `prometheus_api_client` library. So I tested it. Note: This is purely `import` related and nothing to do with actual data query/transfer.

**To Reproduce**
The following trivial code in file `time-import.py`:
[code]
When run, I get the following results (R.Pi4 `Linux pi.local 5.15.72-v7l+ #1591 SMP Wed Oct 5 12:05:33 BST 2022 arm

[2022-10-30 04:29] mahtin commented on #241
Question: If I use `metric_data = prom.get_metric_range_data(...)` then I can use `metric_object_list = MetricsList(metric_data)` call. However, If I use `metric_data = prom.custom_query_range(...)` then the `MetricsList()` call fails with `KeyError: '__name__'`. I can fix this by running this loop before calling `MetricsList()`.
[code]
Where `metric_name` is part of my query string.

Is this righ

[2022-10-30 05:03] mahtin opened #252 "add controls to subplot()"
**Is your feature request related to a problem? Please describe.**<br>
No - not a problem. It's an honest-to-gosh simple request to make life easier.

When you call `plot()` you create a new window. Two calls, two windows created. If you could pass `subplot()` arguments to the underlying `subplot()` call, then you could control the layout with minimal extra code.

**Describe the solution you'd lik

[2022-10-31 16:23] 4n4nd commented on #252
@mahtin that seems like a reasonable solution. Would you please make the changes and create a pull request for it?

Thanks!

[2022-10-31 16:32] 4n4nd commented on #251
@chauhankaranraj @harshad16 wdyt of only importing specific items from a package?

For example, instead of
[code]

we do
[code]
Do you think that would make the imports faster?

[2022-10-31 16:39] #244 closed

[2022-10-31 16:53] 4n4nd commented on #241
This is the "right" way to do it since Prometheus doesn't return a metric name when you use functions. I wasn't sure if the library should add the query string as the name by default. wdyt @chauhankaranraj?

[2022-10-31 16:59] harshad16 commented on #251
Explicit functional or module import is always better than importing everything in the module.
The above example would be helpful.

though I feel we would have to check what are the other reasons, for the slow import of the prometheus-api-client.

[2022-11-01 08:28] mahtin commented on #252
Yes. Done. See #253

[2022-11-01 15:31] mahtin commented on #251
Give me some time and I'll upload what I think works cleanly. I still need to run all tests. I deferred the `import` to the `plot()` call so that only folks doing plots see the slower start time. It's something like this:
[code]
This works quite well. The import stays referenced and is usable later.

More later

[2022-11-01 20:10] mahtin commented on #251
PR filed!

[2022-11-03 11:40] rmalenko opened #256 "Domain name parse error: unexpected identifier"
I have got this error
full domain name `au.edu` in error message `\\"aubg\\"`

[code]

my code is:

[code]

[2022-11-09 17:20] mahtin commented on #251
Ping. Thoughts?